.sec{
	background-color: red;

}
.bkver{			/*..background verde, fondo superior*/
	background-color: #04996D;
	width: 100%;
	height: 100px;
}
.bkgray{		/*backgroud gris, fondo inferior*/
	background-color: #C5C5C5;
	width: 100%;
	margin-top: 10%;
}
.mgt-5{			/*margen superior*/
	margin-top: 5%;
}
.panel1 {		/*tamaño del panel general*/
	width: 35%;
	float: left;
}
.img1 { 		/*Imagen del perfil, principal*/
	width: 35px;
	border-radius: 50px;
}
.icon-puntos{
	display: inline-block;
	padding-top: 1%;
	margin-left: 23%;
	font-size: 18px;
	position: absolute;	
}
.ico{
	color: #949494;
	cursor: pointer;
}

.bt1 {		/*imagen de la lupa de buscar*/
	background-color: transparent;
	margin-left: 2%;
	border:none;
	color: #999;
}
.inputp{		/*Texto de buscar*/
    position: absolute;
    top: 19%;
    left: 8%;
    color: #999;
    pointer-events: none;
    line-height: 20px;
}
.search {		/*Caja de label*/
    box-sizing: border-box;
    margin-top: -28px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #E4E2E2;
    height: 40px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #fff;
 }
 .input-search {	/*Caja de search para escribir*/
    padding: 4px;
    width: 26%;
    font-size: 15px;
    z-index: 1;
    text-align: left;
    background-color: transparent;
    border:none;
}
.img2{		/*propiedades de las imagenes lado izquierdo del usuario*/
	width: 40px;
	border-radius: 50%;
	display: inline-block;
	margin-top: -5%;
}
.bt{
	border-top: 1px solid #ddd; 
}

.mrg{		/*margen de los iconos de mnsj y 3 puntitos*/
	margin-left: 5%;
	display: inline-block;
	line-height: 5%;
}
.p1{		/*posicion del texto de la hr*/
	display: inline-block;
	float: right;
}
.panel2 {		/*tamaño del panel de mensajes*/
	width: 65%;
	display: inline-block;
	float: right;
}
.panel3{
	height: 56px;
}
.img3{		/*propiedades de las imagenes lado izquierdo del usuario*/
	width: 30px;
	border-radius: 50%;
	margin-top: -4%;
	display: inline-block;
}
.mrg2{		/*margen del texto del chat*/
	margin-left: 3%;
	display: inline-block;
	margin-top:-1%;
}
.icoons{		/*propiedades de los iconos de adjuntar y 3 puntitos*/
	font-size: 18px;
	float: right;
	display: inline-block;
	cursor: pointer;
}
.bkchat {		/*background del chat*/
	background-image: url(../image/chat-panel-bg.png);
	background-size: 100%;
}

/*................................Globos de conversacion.................................*/
#globo{
    width: 55%;
    height: 83px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #555;
    background-color: #FDF9F4;
    position: relative;
}
#globo:before{
    content: "";
    width: 0;
    position: absolute;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #FDF9F4;
    top: 20px;
    left: -10px;
}
.mb-1{
	margin-bottom: 1%;
}
#globo2{
    width: 35%;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #555;
    background-color: #FBE991;
    position: relative;
    float:right;
    
}
#globo2:before{
    content: "";
    width: 0;
    position: absolute;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent #FBE991;
    top: 20px;
    right: -10px;
}

#globo3{
    width: 28%;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #555;
    background-color: #FBE991;
    position: relative;
    margin-top: 10%;
    margin-left: 72%;
}
#globo3:before{
    content: "";
    width: 0;
    position: absolute;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent #FBE991;
    top: 20px;
    right: -10px;
}

/*............................chat............................*/
.p2{
	color: #71DCFB;
	font-size: 16px;
	text-align: left;
	line-height: 12px;
}
.p3{
	color: black;
	font-size: 15px;
	text-align: left;
}
.p4{
	color:black;
	font-size: 13px;
	text-align: right;
}
.p5{
	color: #FE368B;
	font-size: 16px;
	text-align: left;
	line-height: 12px;
}
.p6{
	color: #68F8B3;
	font-size: 16px;
	text-align: left;
	line-height: 12px;
}
.p7{
	color: #F8CB7D;
	font-size: 16px;
	text-align: left;
	line-height: 12px;
}
/*............................................................*/
.bkchat2{
	background-color: #ddd;
	border:1px solid #ddd;
	height: 77px;
}
.input-mnsj{
	width: 80%;
    margin-left: 5%;
    padding: 1%;
}
.icomico{
	font-size: 25px;
    display: inline-block;
    float: right;
}